{% extends 'base.html' %}
{% load static %}

{% block title %}Salida - {{ APP_TITLE }}{% endblock %}

{% block inhead %}
<link href="{% static 'css/drop-area.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Registrar Salida</h1>
</div>

<div class="row">
  <div class="col-12">
    {% if alerta == 'no_encontrado' %}
    <div id="alertGestion" class="alert alert-info" role="alert">
      El auto no se encuentra en la base de datos. Verificar existencia.
    </div>
    {% elif alerta == 'exito' %}
    <div id="alertGestion" class="alert alert-success" role="alert">
      Vehiculo procesado exitosamente.
    </div>
    {% elif alerta == 'no_vehiculo' %}
    <div id="alertGestion" class="alert alert-danger" role="alert">
      No es un vehiculo.
    </div>
    {% endif %}
  </div>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-12">
    <!-- Illustrations -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Gestión de estacionamientos
        </h6>
      </div>

      <div class="card-body">
        <div class="container-fluid">

            <form id='formGestion' method="post" enctype="multipart/form-data" onsubmit="loadingImage()">
            <div class="row">
              <div class="col-6">
                {% csrf_token %}
                <div class="form-group">
                  <label for="imageUpload">Imagen de cámara de acceso:</label>
                  <div id="drop-area" class="form-control">
                    Arrastra y suelta la imagen aquí
                  </div>
                  <input type="file" id="imageUpload" class="d-none" name="exit_image" accept="image/*" required>
                  <small id="fileHelp" class="form-text text-muted">Suelta la imagen o haz clic para seleccionarla.</small>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="preview">Vista previa de la imagen:</label>
                  <div class="preview-container bg-gray-700">
                    {% if image_url %}
                    <img id="preview" src="{{ image_url }}" alt="Vista previa de la imagen">
                    {% else %}
                    <img id="preview" src="" style="display: none;" alt="Vista previa de la imagen">
                    {% endif %}
                  </div>
                  {% if vehicle %}
                  <div id="vehicleInfo">
                    <span class="badge badge-success">Placa: {{ vehicle.vehicle_plate }}</span>
                    <span class="badge badge-success">Color AVG: {{ vehicle.vehicle_color }}</span>
                    <span class="badge badge-success">Tipo: {{ vehicle.get_vehicle_type_display }}</span>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-12">
                <button id="btnProcesarImagen" type="submit" class="btn btn-primary mt-3 mb-5 w-100" disabled>Procesar imagen</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>

<script src="{% static 'js/drop-area.js' %}"></script>

{% endblock %}