{% extends 'base.html' %} {% block title %}Salida - {{ APP_TITLE }}{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Registrar Salida</h1>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-12">
    <!-- Illustrations -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Gestión de estacionamientos
        </h6>
      </div>
      <div class="card-body">
        <div class="container-fluid row justify-content-md-center">
          <div class="custom-file col-5" style="margin: 5px">
            <form id="registro_salida" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="file" class="custom-file-input" id="input_exit" lang="es" name="exit_image"
                accept="image/*" />
              <button type="submit" class="btn btn-primary col-5" style="margin: 5px;">Procesar imagen
              </button>
            </form>
            <label class="custom-file-label" for="input_exit">Imagen de cámara de salida</label>

            <div id="preview_container_exit" style="margin-top: 20px; display: none;">
              <h4>Vista previa</h4>
              <img id="preview_image_exit" src="" alt="Vista previa" width="300">
            </div>

            {% if image_url %}
            <h4 id="Titulo imagen exit">Imagen procesada</h4>
            <img src="{{ image_url }}" alt="Imagen procesada exit" width="300">
            {% endif %}
            {% if alerta == 'no_encontrado' %}
            <div id='alerta_exit' style="color: red;">Alerta: El auto no se encuentra en la base de datos. Verificar
              existencia</div>
            {% elif alerta == 'exito' %}
            <div id='alerta_exit' style="color: green;">Vehiculo procesado exitosamente.</div>
            {% elif alerta == 'no_vehiculo' %}
            <div id='alerta_exit' style="color: red;">No es un vehiculo.</div>
            {% endif %}

            {% if vehicle %}
            <ul id="vehicle_info_exit" class="list-group list-group-flush">
              <li>
                Placa: {{ vehicle.vehicle_plate }}
              </li>
              <li>
                Color: {{ vehicle.vehicle_color }}
              </li>
              <li>
                Tipo: {{ vehicle.vehicle_type }}
              </li>
            </ul>
            {% endif %}

            <script>
              const imageInput = document.getElementById('input_exit');
              const previewContainer = document.getElementById('preview_container_exit');
              const previewImage = document.getElementById('preview_image_exit');

              const processedImage = document.querySelector('img[alt="Imagen procesada exit"]');
              const titleImage = document.getElementById('Titulo imagen exit');
              const vehicleInfo = document.getElementById('vehicle_info_exit');
              const alerta = document.getElementById('alerta_exit');

              imageInput.addEventListener('change', function () {
                const file = this.files[0];
                if (processedImage) processedImage.remove();
                if (titleImage) titleImage.remove();
                if (vehicleInfo) vehicleInfo.remove();
                if (alerta) alerta.remove();

                if (file) {
                  const reader = new FileReader();
                  reader.onload = function (e) {
                    previewImage.src = e.target.result;
                    previewContainer.style.display = 'block';
                  };
                  reader.readAsDataURL(file);
                }
                else {
                  previewContainer.style.display = 'none';
                  previewImage.src = '';
                }
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}