venv
*/__pycache__
home/migrations/__pycache__
__pycache__
*.pyc
backend_test/main4.ipynb
.gitignore
backend_test/main3.ipynb
backend_test/main2.ipynb
backend_test/change_name_file.ipynb
.gitignore
backend_test/main.ipynb
.gitignore
backend_test/get_files_names.ipynb
backend_test/detectcor_color.ipynb
.vscode/settings.json
backend_test/convertir_imagen.ipynb
backend_test/detecta_placas.ipynb
backend_test/main_.py
backend_test/util.py
stack.env
